body {
	font-family: 'Open-Sans','Roboto',sans-serif, helvetica;
	line-height: 1.5;
}

.jumbotron {
	  background:  linear-gradient(
  rgba(7,56,88,0.8), 
  rgba(7,56,88,0.8)
  ),url("../images/istock.jpg");
	  background-size: cover;
	  background-repeat: no-repeat;
	  height: auto;
	  margin-bottom: 0;
}

.jumbotron .col-sm-6:nth-child(2) {
	background-color: rgba(5,41,64,0.8);
	height: auto;
	border-radius: 0px;
	width: 49%;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
	border-radius: 2px;
}
/********************************
 Typography
********************************/
.jumbotron span {
	color: #14b646;
}
.form-ct h2, .jumbotron h1, .highlights p {
	color: #fff;
}
.form-ct.f-heading h2 {
	text-align: center;
}
.jumbotron h1 {
	font-size: 2.2em;
	font-weight: 600;
	line-height: 1.5;
}
.highlights p {
	display: inline-block;
	
}
/********************************
 Layouts
********************************/
.highlights {
	margin: 10px 0;
	background-color: rgba(0,0,0,0.5);
	padding: 30px 20px;
	width: 90%;
	
}
/********************************
 Buttons
********************************/
.form button {
	width: 100%;
	border-radius: 1px;
	background-color: #14b646;
	color: #fff;
	font-weight: 800;
	font-size: 1.7em;
	transition: box-shadow .4s ease;
}
.form button:hover {
	box-shadow: 8px 8px 5px 2px rgba(0,0,0,0.35);
}
/********************************
 Navigaion
********************************/
.navbar {
	background: transparent;
	border: none;
}
.navbar-brand img{
	width: 250px;
	margin-top: -41.6666666667%;
	margin-left: -16.6666666667%;
}
/********************************
 Form
********************************/

.form {
	padding: 30px 10px;
}
.form input {
	border-radius: 0;
	box-shadow: none;
	border: none;
	height: 50px;
	background-color: transparent;
	border-bottom: 2px solid #fff;
	margin: 30px 0;
	color: #fff;
}
.form input:hover, .form input:focus {
	box-shadow: none;
}
.form input:focus {
	border-color: #14b646;
}
.form-ct.f-heading h2 {
	margin-bottom: -20px;
}
.form-control::-webkit-input-placeholder { 
	color: #dedede; 
}
.form-control:-moz-placeholder { 
	color:#dedede; 
}
.form-control::-moz-placeholder { 
	color: #dedede; 
}
.form-control:-ms-input-placeholder { 
	color: #dedede; 
}
.jumbotron .google img {
	width: 40%;
	margin-top: 20px;
}

/********************************
 Media Queries
********************************/
@media screen and (max-width: 1140px) {
	.jumbotron .ct-text h1, .form-ct h2 {
		font-size: 2em;
	}
	.highlights p {
		font-size: 1.3em;
	}
}
@media screen and (max-width: 980px) {
	.form-ct h2, .jumbotron .ct-text h1 {
		font-size: 1.7em;
	}
	.highlights p {
		font-size: 1.2em;
	}
}
@media screen and (max-width: 767px) {
	.jumbotron {
		background-position: 65% 100%; 
	}
	.jumbotron .ct-text , .highlights , .form-ct, .form-ct, .jumbotron .col-sm-6:nth-child(2) {
		width: 80%;
		margin: auto;
	}
	.form-ct h2 .fa-arrow-right {
		display: none;
	}
	.form-ct.f-heading h2 {
		padding-top: 20px;
		text-align: left;
	}
	.jumbotron .google img {
	width: 30%;
	margin-top: 20px;
  margin-left: 8%;
}
}
@media screen and (max-width: 560px) {
	.jumbotron .ct-text , .highlights , .form-ct, .form-ct, .jumbotron .col-sm-6:nth-child(2) {
		width: 95%;
		margin: auto;
	}
		.jumbotron .google img {
	width: 50%;
	margin-top: 20px;
}
	
}












